/////////////////
//  Variables  //
/////////////////

// Fonts
$main-font: 'Roboto', sans-serif;

// Colors
$white: #ffffff;
$black: #444444;
$gray: #aaaaaa;
$light-gray: #eeeeee;

$blue: #1346eb;

// Transitions
$quick-transition: 0.1s ease-in-out 0s;